[submodule "tortoise-tts"]
	path = tortoise-tts
	url = git@github.com:rakeeb-hossain/tortoise-tts.git
	branch = rkb-tts
[submodule "coqui"]
	path = coqui
	url = git@github.com:coqui-ai/TTS.git
[submodule "rvc"]
	path = rvc
	url = git@github.com:RVC-Project/Retrieval-based-Voice-Conversion-WebUI.git
